* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d3d3dd;
  --white: #fff;
  --medium-gray: #f6f7f8;
  --red: #a83023;
  --cards_color: #d3d3d31e;
  --yellow: #ffff00;
  --partners_gray: #272a31;
}

.menu_button.show {
  display: block;
}

.media-nav {
  display: none;
}

.see {
  display: none;
}

.featured-speakers {
  display: grid;
  justify-items: center;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(Images/viber_image_2022-12-28_12-03-05-282.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.partners_section {
  color: var(--white);
  background-color: var(--partners_gray);
  display: grid;
  justify-items: center;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  column-gap: 30%;
}

.partners_section_title {
  color: var(--gray);
  text-align: center;
  padding-top: 1rem;
}

.icon-logo {
  width: 100px;
  height: auto;
  margin-left: 70px;
  margin-bottom: 30px;
}

.toolbar > a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #172b4d;
}

.toolbar .menu_button {
  background-color: #ec5242;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 4;
  opacity: 100%;
  list-style: none;
}

.nav-item {
  display: block;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: white;
  text-decoration: none;
  margin: 40px;
}

.fa-bars {
  padding: 10px;
  margin-bottom: 10px;
}

.speaker_appearance {
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

#bg_img {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-image: url(Images/background_speakers_logo.png);
  background-repeat: no-repeat;
  padding-left: 10px;
}

.speaker_info {
  width: 70%;
}

.overlay {
  margin-top: 0;
  background: #ec524255;
  width: 100%;
  height: 100%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.main_title {
  color: var(--orange);
  margin-left: 2%;
  margin-right: 2%;
  /* padding-bottom: 3rem; */
}

h1 {
  text-transform: uppercase;
  mix-blend-mode: multiply;
  padding-bottom: 3rem;
}

h3 {
  mix-blend-mode: multiply;
}

h6 {
  text-align: center;
}

.menu_button,
.header_logo,
.sign-in {
  display: none;
}

.header_logo {
  width: auto;
  height: auto;
}

.main_lecture-info {
  border: 5px solid white;
  margin-right: 20px;
  background-color: #f2f2f2;
  color: #272a31;
  padding: 10px;
}

.conference_date {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 0;
}

.conference_place {
  font-size: 15px;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

.join {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 80px;
  margin: 30px 40px;
  background-color: #ec5242;
}

/* about CSS */

.main_title-about {
  color: var(--orange);
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}

.email {
  display: flex;
  justify-content: center;
}

.text {
  color: #272a31;
  background-color: white;
  border: 2px solid #d3d3d3;
  margin: 20px;
  text-align: center;
}

.main_container-about > p {
  border: 2px solid var(--medium-gray);
  background-color: var(--white);
  border-radius: 7px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

.conference_date .conference_place {
  margin-left: 2%;
  margin-right: 2%;
}

.tirana_summit {
  margin: 5%;
  width: 90%;
  height: 300px;
  text-align: center;
  color: var(--yellow);
  background-image: url(Images/HVAC_2020_summit-tirana.png);
  /* backdrop-filter: blur(100px); */
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 100px; */
}

.belgrade_summit {
  margin: 5%;
  width: 90%;
  height: 300px;
  text-align: center;
  color: var(--yellow);
  background-image: url(Images/HVAC_summit_Beograd-2021.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 100px; */
}

.desktop_summit_version {
  width: 100%;
}

.past_summits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.past_summits > p {
  text-align: center;
}

.past_summits_title {
  margin-top: 5%;
}

i {
  color: var(--black);
}

.program_wraper {
  justify-items: center;
  background-image: url(Images/card_background_img.jpeg);
}

.program_wraper > h2 {
  color: var(--white);
  text-align: center;
}

.card_info {
  padding-left: 5%;
}

.red_line {
  display: inline-block;
  align-items: center;
  border: 1px solid var(--red);
  background-color: var(--red);
  width: 52px;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.speakers {
  display: grid;
  justify-items: center;
}

.background_img {
  width: 90%;
  margin: 20px;
  padding: 20px 30px;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  color: var(--white);
  background-color: var(--cards_color);
  font-size: 15px;
  margin-bottom: 0;
}

.card_title {
  color: var(--orange);
  font-size: 20px;
  font-weight: 500;
  width: 30%;
  padding-left: 5%;
}

#hvac_logo {
  width: 80px;
  height: auto;
  padding: 2%;
}

.hvac_logo {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 10px;
  width: 100%;
  height: auto;
  background-color: white;
}

.title-footer {
  font-size: 10px;
  padding-top: 10px;
  color: var(--black);
}

.speaker {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-image: url(img/tt.png);
  background-repeat: no-repeat;
  padding-left: 10px;
}

.speaker_appearance {
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

.speaker_info {
  width: 70%;
}

.name {
  padding-top: 5px;
  font-weight: bold;
  color: #272a31;
  font-size: 20px;
  margin-bottom: 5px;
}

.line {
  width: 50px;
  border-top: 2px solid grey;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .main_container {
    padding: 0;
  }

  .media-nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0 20px;
    gap: 20px;
    color: white;
    background-color: #272a31;
  }

  .media-nav i {
    padding-top: 6px;
  }

  .background_img {
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: #d3d3d31e;
    font-size: 15px;
    padding: 20px 0;
    margin-bottom: 3rem;
  }

  #nav-item {
    color: var(--red);
  }

  .sign-in {
    display: contents;
  }

  .sign-in {
    display: inline-block;
    border: 3px solid #ec5242;
    color: #ec5242;
    background-color: white;
    padding: 2px 15px;
    margin-left: 10px;
  }

  .see {
    display: contents;
    color: #d3d3d3;
  }

  .see-program {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  #resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 20px 50px;
  }

  .wrap-cards {
    display: flex;
    justify-items: center;
    margin: 0 8%;
  }

  .partners {
    justify-content: center;
    column-gap: 30%;
    margin-bottom: 30px;
  }

  .desktop_summit_version {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .program_wraper {
    justify-items: center;
    background-image: url(Images/card_background_img.jpeg);
  }

  .fa-bars {
    display: none;
  }

  .toolbar {
    display: none;
  }

  .menu_button {
    display: flex;
  }

  .toolbar a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #172b4d;
  }

  .nav-item {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: white;
    text-decoration: none;
    margin: 40px;
  }

  #portfolio {
    display: flex !important;
    height: fit-content;
    display: flex;
    background-color: white;
    mix-blend-mode: normal;
    backdrop-filter: blur(0px);
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 0;
    opacity: 1;
    list-style: none;
    padding: 10px;
    padding-left: 10%;
    padding-right: 5%;
  }

  /* #portfolio .header_logo {
    width: 120px;
  } */

  #portfolio .menu_button {
    background-color: transparent;
    backdrop-filter: blur(0px);
    position: relative !important;
    width: calc(100% - 200px);
    justify-content: flex-end;
    gap: 30px;
  }

  #portfolio .menu_button a {
    margin: 0;
  }

  .header_logo {
    display: block !important;
  }

  .show {
    display: flex !important;
  }

  .middle-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }

  .join {
    display: none;
    /* align-items: center; */
  }

  .main_page {
    padding-left: 10%;
    padding-right: 10%;
  }
}
